"*":
  core:
    customFileTypes:
      "source.js": [
        "xsaccess"
        "xsjs"
        "xsjslib"
        "xsprivileges"
        "hdbti"
      ]
      "source.sql": [
        "hdbview"
      ]
    telemetryConsent: "no"
    uriHandlerRegistration: "always"
  editor:
    tabLength: 4
  "exception-reporting":
    userId: "3e45284b-e33b-4280-9b54-744b10ce3e41"
  github: {}
  linter: {}
  "linter-ui-default":
    panelHeight: 318
  "platformio-ide-terminal":
    core:
      shell: "C:\\tools\\Git\\bin\\bash.exe"
    style: {}
    toggles:
      autoClose: true
      cursorBlink: false
      selectToCopy: false
  welcome:
    showOnStartup: false
